/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2017, 6:50:34 PM
    Author     : 00140141
*/
#cabecera
{
    /*aplicando tipo de tamano de letra a la cabecera*/
font-family: Aharoni;
font-size: 40px;
text-align: center;
}
#subtitulo {
    /*aplicando tipo de tamano de letra a la cabecera*/
font-family: Aharoni;
font-size: 23px;
text-align: center;
}
ul li{
    list-style: none;
    background: #E0F2F7;
    display: inline;
    font-size: 20px;
    font-family: Berlin Sans FB;
    padding: 10px;
    border-radius: 8px;
}
#menu
{
    text-align: center;
    font-family: magnets;
    font-size: 26px;
}
#cuerpo
{
    text-align: center;
    font-family: Berlin Sans FB;
    font-size: 15px;    
}

#pie{ background: #E0F2F7;
  text-align: center;
  font-family: Berlin Sans FB;
    font-size: 15px;
       padding: 10px;
     border-radius: 8px;
    
}
a:hover { 
    color: #FF0000;
    font-size: 21px;

}

a{
    text-decoration: none;
    background: #FF0000;
}   

#fondo{
    background: #0174DF;
    text-align: center;
}

form{
    margin: 0 auto;
    width: 800px;
    padding: 1em;
    border: 2px solid #000;
    border-radius: 5px;
    background: white;
}

form div{
    margin-top: 1em;
}
a:link {
    color:#F8FBEF
}

a:visited {
    color: #F8FBEF
}
a:active {
    color:#F8FBEF
}

label{

    display: inline-block;
    width: 100px;
    text-align: center;
}

input, textarea { 
    font: 1em Arial;
    width:200px;
}

input:focus, textarea:focus{
    border-color: red;
}

textarea{
    vertical-align: top;
}

h1{
    text-align: center;
}

#fondo{
    background: #0174DF;
}